html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #1d1d1d;
}

main{
    display: flex;
    flex-direction: column;
}

